body{
    background: peachpuff;
    cursor: default;
    margin: 0%;
}

#list-div{
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    margin: auto;
    padding: 5rem;
    max-width: 47%;
    border-radius: 7px;
    position: relative;
    top: 5rem;
}

h2{
    text-align: center;
    font-family: cursive;
}

h3{
    text-decoration: underline;
    font-variant: small-caps;
    font-size: 1.5rem;
}

p{
    line-height: 1.5;
}

a{
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

a:hover{
    opacity: 0.5;
    color: brown;
}

.list-style {
    list-style: none;
    display: inline;
    margin-right: 4%;
    padding: 2.5px;
}

.list-style:hover {
  border-bottom: 2px solid rgb(151, 103, 103);
  
}

#nav-bar{
    display: inline-block;
    text-align: right;
    background: grey;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

#bgImg::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    background: url(/assets/082_Computer_Science_Engineering_credit-Anna_Kucera.jpg);
    background-size: cover;
    opacity: 0.25;
}